@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.Logo{
    display: flex;
    justify-content: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
    font-size: 80px;
}

/* .btn{
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 3px;
}

.ob{
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;

    width: 300px;
    height: 500px;
    background-color: rgb(162, 162, 162);
    box-shadow: #333 6px 7px 2px 2px;
    border-radius: 10px;
}

.container1{
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.item1{
    display: flex;
    width: 90%;
    height: 70%;

    align-self: auto;
    border-radius: 20px;
}

.item2{
    display: flex;
    width: 90%;
    height: 70%;

    align-self: auto;
    border-radius: 20px;
} */


.container{
    width: 100;
    height: 100%;
    background-color: #eee;
    border: 2px solid #222;
    margin-bottom: 30px;
    
    display: flex;
    flex-direction:/* 행 열 방향으로 배치지정 */;
    flex-wrap: wrap/* 박스 공간 만큼 채우고 다못채우면 밑으로 내려가도록 한다. */;
    /* align-content: space-around align-self 속성 돕는 것; */
    flex-flow: /* direction 과 wrap을 다 사용하는 것 */;

    justify-content: space-evenly/* 전체 요소 위치 정렬: 시작점 끝 중간 */;
    justify-content: /* 공백생성요소 */;

    align-items: /* 위 중간 아래로 위치지정 ; base라인은 글자기준으로 맞춰줌*/;

    gap: 20px;
}



.box {
    display: flex;

    padding: 5px 45px;
    margin: 5px;
    width: 350px;
    height: 400px;
    background-color: palevioletred;

    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap-reverse; */
}

img{
    width: 200px;
    height: 270px;
}
p{
    display: flex;
    align-self: flex-start;
    margin: 0;
}
button{
    display: flex;
    align-self: flex-end;
    justify-content: center;
}